html,body{
    margin: 0;
    height: 100%;
    overflow: hidden;
    background: black;
}
.gameDiv{
    position: relative;
    margin: 5px auto;
    width: 672px;
    height: 640px;
    background: green;
}
.canvas2{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    background: transparent;
}